<!DOCTYPE html>
<html lang="en">
  <!--

ㄟ( ▔, ▔ )ㄏ

-->

  <head>
    {{ await comp.PlainHead({ title: title }) }}
  </head>

  <body>
    <main>
      {{ content }}
    </main>

    <footer>
      {{ await comp.PlainFooter() }}
    </footer>
  </body>
</html>
