
body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
    font-family: "Raleway",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji";
}

#domains {
    font-size: 14px;
    background-color: #F1F1F1;
}

a {
    color: #0077aa;
    text-decoration: none;
}

a:hover {
    color:#4882e0;
}

h1, h2, h3 {
    line-height: 1.2;
}

.erisa {
    color: #C63B65;
}

.gold {
    color: #ffd9a0;
}

ul {
    list-style-type: none;
}

li::before {
    content: "- ";
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1e1e1e;
        color: white;
    }
    #domains {
        background-color: #2b2b2b;
        word-wrap: break-word;
    }
    a {
        color: #3391ff;
    }
}

/* raleway-500 - latin-ext_latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('/fonts/raleway-v19-latin-ext_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/raleway-v19-latin-ext_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  