body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
    font-family: "Inter",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji";
}

.smallbar {
    font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji";
}

#domains {
    font-size: 14px;
    background-color: #F1F1F1;
}

a {
    color: #0077aa;
    text-decoration: none;
}

a:hover {
    color:#4882e0;
}

h1, h2, h3 {
    line-height: 1.2;
}

.erisa {
    color: #C63B65;
}

.cloudflare {
    color: #f6821f;
}

.cloudflare a:hover {
    color: #fbad41;
}

ul {
    list-style-type: none;
    margin-top: 0px;
}

p {
    margin-bottom: 9px;

}

li::before {
    content: "- ";
}

@media (prefers-color-scheme: dark) {
    body, input, textarea {
        background-color: #1e1e1e;
        color: white;
    }

    input, textarea {
        border-radius: 1px;
        border-color: #75374A;
    }

    #domains {
        background-color: #2b2b2b;
        word-wrap: break-word;
    }
    
    a {
        color: #3391ff;
    }
}

/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0-7C,U+7D-FFFF;
    src: local(''),
            url('/fonts/inter-v8-latin-regular.woff2') format('woff2') /* Chrome 26+, Opera 23+, Firefox 39+ */
}

#turnstile {
    width: 300px;
    height: 72.9px
}