body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
    font-family: "Raleway";
}

#domains {
    font-size: 14px;
    background-color: #F1F1F1;
}

a {
    color: #0077aa;
    text-decoration:none;
}

h1, h2, h3 {
    line-height: 1.2;
}

.erisa {
    color: #C63B65;
}

ul {
    list-style-type: none;
}

li::before {
    content: "- ";
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1e1e1e;
        color: white;
    }

    #domains {
        background-color: #2b2b2b;
        word-wrap: break-word;
    }
    
    a {
        color: #3391ff;
    }
}