---
import { readFile } from 'node:fs/promises';
import { join } from 'node:path';

const domains = await readFile(
	join(process.cwd(), 'public/domains.txt'),
	'utf-8'
);
---

<p id="domains">{domains}</p>
