---
import FooterLink from './FooterLink.astro';
import SmallBar from './SmallBar.astro';
---

<footer>
	<nav>
		<hr />
		<FooterLink href="/">Home</FooterLink>
		<SmallBar />
		<FooterLink href="/contact">Contact</FooterLink>
		<SmallBar />
		<FooterLink href="https://erisa.dev" target="_blank">Blog</FooterLink>
		<SmallBar />
		<FooterLink href="/privacy">Privacy</FooterLink>
		<SmallBar />
		<FooterLink href="/domains">Domain list</FooterLink>
		<SmallBar />
		<FooterLink href="https://status.erisa.uk" rel="noopener" target="_blank">Status</FooterLink>
	</nav>
</footer>
