<p>
	If you want to check some of my stuff out then you can do that!<br />
	<ul>
		<li>
			<a href="https://github.com/Erisa" target="_blank">GitHub profile</a>
		</li>
		<li>
			<a href="https://erisa.dev" target="_blank">My blog</a>
		</li>
		<li>
			Browser add-ons for
			<a href="https://addons.mozilla.org/firefox/user/13549342/" rel="noopener" target="_blank"> Firefox</a>,
			<a href="https://chrome.google.com/webstore/search/Erisa%20A" rel="noopener" target="_blank">Chrome</a>
			and <a href="https://microsoftedge.microsoft.com/addons/search/Erisa%20A" rel="noopener" target="_blank">Edge</a>
		</li>
		<li>
			Discord bots:
			<a href="https://github.com/Erisa/Cliptok" rel="noopener" target="_blank">Cliptok</a>,
			<a href="https://github.com/Yuuki-Discord/Yuuki-Bot" rel="noopener" target="_blank">Yuuki</a>
			and <a href="https://github.com/Erisa/Lykos" rel="noopener" target="_blank">Lykos</a>
		</li>
		<li>
			<a
				href="https://github.com/Erisa?tab=repositories&q=worker&type=source&language=&sort="
				rel="noopener"
				target="_blank"
			>
				Cloudflare Workers
			</a>
		</li>
	</ul>
</p>
